@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

$header-text-color: #6e618e;

.navbar-version {
  font-size: 0.65em;
  color: $header-text-color;
}

.navbar-title {
  text-transform: none;
  /*color: $header-text-color;*/
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  color: $header-text-color;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
      color: $header-text-color;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 102px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-launch.svg') no-repeat center center;
  background-size: contain;
  /*fill: #17a2b8;*/
  fill: $header-text-color;
  color: $header-text-color;
}
